.leaderboardItem{
    display: flex;
    align-items: center;
    width: 100%;
}

.leaderboardItem h3{
    margin: 0;
    width: 50%;
    text-align: center;
    padding: 15px 0;
    border: 2px solid grey;
}

.leaderboard{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 8px;
    overflow: hidden;
}