.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 40px;
}
  
.controllerInput{
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
}