.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  gap: 40px;
}

.controller{
  display: flex;
  gap: 15px;
}

.controllerButton{
  border-radius: 12px;
  border: none;
}

.controllerInput{
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
}
